@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .what-we-do-container {
    display: grid;
    &__title {
      @include font-type($MAIN_FONT, $LARGE);

      margin: $LARGE 0 $MEDIUM;
      text-align: center;
    }
    &__content {
      @include font-type($MAIN_FONT, $MIDLARGE);

      margin: $MEDIUM 0;
      padding: 0 $SMALL;
      text-align: center;
    }
    &__cta {
      @include CTA-link();

      margin: $SMALL auto $XLARGE;
    }
    &__events {
      margin-top: $MEDIUM;
    }
    &__event {
      margin-bottom: $LARGE;
      &-image {
        margin: 0; // Remove me
      }
      &-content {
        @include font-type($MAIN_FONT, $MEDIUM);

        margin: $MIDLARGE 0;
        padding: 0 $SMALL;
        text-align: center;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
