@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .landing-container {
    &__splash {
      position: relative;
      z-index: 20;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: $MAIN_COLOR;
      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 10;
        width: 125%;
        height: 25vh;
        background-color: $MAIN_COLOR;
        border-radius: 50%;
        transform: translateX(-50%);
        transform-origin: bottom;
        content: "";
      }
      &-image {
        min-height: 45vh;
        max-height: 75vmin;
        object-fit: cover;
      }
      &-title {
        @include font-type($MAIN_FONT, $LARGE, 400, white);

        z-index: 30;
        margin: $LARGE 0;
        text-align: center;
      }
      &-mission {
        @include font-type($MAIN_FONT, $MIDLARGE, 400, white);

        z-index: 30;
        margin: $LARGE 0 $XXLARGE;
        padding: 0 $SMALL;
        text-align: center;
      }
      &-divide {
        height: 5vh;
        background-color: white;
      }
    }
    &__goals {
      margin-top: $XLARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landing-container {
    &__mission {
      margin-bottom: $XLARGE;
    }
    &__goals {
      display: grid;
      grid-auto-flow: column;
      gap: $MEDIUM;
      justify-content: center;
      margin-bottom: $LARGE;
      padding: 0 $LARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .landing-container {
    &__mission {
      margin: $LARGE 0 $LARGE;
    }
    &__goals {
      padding: $SMALL;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
