@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .landing-container {
    &__splash-image {
      height: 100%;
      max-height: 75vmin;
      object-fit: cover;
    }
    &__title {
      @include font-type($MAIN_FONT, $LARGE);

      margin: $LARGE 0;
      text-align: center;
    }
    &__mission {
      @include font-type($MAIN_FONT, $MIDLARGE);

      margin: $LARGE 0 $XXLARGE;
      padding: 0 $SMALL;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landing-container {
    &__mission {
      margin-bottom: $XLARGE;
    }
    &__goals {
      display: grid;
      grid-auto-flow: column;
      gap: $MEDIUM;
      justify-content: center;
      margin-bottom: $LARGE;
      padding: 0 $LARGE;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .landing-container {
    &__splash {
    }
    &__title {
    }
    &__mission {
      margin: $LARGE 0 $LARGE;
    }
    &__goals {
      padding: $SMALL;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
