@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .take-action-address {
    margin: $XLARGE auto;
    padding: $LARGE;
    text-align: center;
    background-color: $MAIN_COLOR;
    &__line {
      @include font-type($MAIN_FONT, $MIDLARGE);

      color: white;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .take-action-address {
    max-width: 375px;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
